/*Mobile*/
.container {
	position:relative;
}

#sidebar {
	position:absolute;
	left:0px;
	padding: 0px 5% 5% 5%;
	height: 100%;
	/*background:rgba(51,51,51,.75);*/
	overflow: scroll;
	z-index: 1;

	/*Gradient Background*/
	background: rgba(255,95,109,0.75); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(255,95,109,0.75), rgba(255,195,113,0.75)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(255,95,109,0.75), rgba(255,195,113,0.75)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(255,95,109,0.75), rgba(255,195,113,0.75)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(255,95,109,0.75), rgba(255,195,113,0.75)); /* Standard syntax */
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	color:rgba(255,255,255,0.75);
	/*color:rgba(51,51,51,.75);*/
	line-height: 80%;
	padding:0px;

	/*transition*/
	-webkit-transition: color .25s ease-in;
	transition: color .25s ease-in;
}
h1:hover{
	color:white;
	-webkit-transition: color .5s ease-out;
	transition: color .5s ease-out;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color:rgba(255,255,255,.75);
	text-align:right;

	/*transition*/
	-webkit-transition: color .25s ease-in;
	transition: color .25s ease-in;
}
h2:hover{
	color:white;
	-webkit-transition: color .5s ease-out;
	transition: color .5s ease-out;
}
p{
	font-family: 'Roboto Mono', monospace;
	font-size: 0.75em;
	color:white;
}

/*Landscape Screens*/
@media all and (orientation:landscape) {
  #sidebar {
  	top: 110%;
  }
}

/*Desktop*/
@media only screen and (min-width: 768px){
	#sidebar {
		width: 30%;
		top: 0px;
	}
	h1 {
		font-size: 4em;
	}
	p {
		font-size: 1em;
	}
}

